<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.donhatch.rotationlockadaptiveshim">

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/typewriter_el"
        android:label="Adaptive Rotation Lock Shim"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TheActivity"
                  android:configChanges="orientation|screenSize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".TheService">
        </service>
    </application>
</manifest>