<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.donhatch.rotationlockadaptiveshim">

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- SYSTEM_ALERT_WINDOW is needed both when using TYPE_APPLICATION_OVERLAY and the pre-TYPE_APPLICATION_OVERLAY api. -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/typewriter_el"
        android:label="Adaptive Rotation Lock Shim"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".TheActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
        <activity android:name=".TheActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->

        <service android:name=".TheService">
        </service>
    </application>
</manifest>
